*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Press Start 2P',
    cursive;
  background: black;
}

h1,
h2,
h3,
p {
  padding: 0;
  margin: 0;
}